<div class="wrapper d-flex flex-col height">
  <h2
    class="text-align-center spacer pt-5 d-flex align-center justify-center">
    {{language ? 'Вы не зарегестрированы' : 'Сіз тіркелмегенсіз'}}
  </h2>
  <div class="footer d-flex">
    <button mat-button color="primary" class="spacer fw600" (click)="register()">
      {{language ? 'Зарегестрироватся' : 'Тіркелу'}}
    </button>
    <button mat-button color="accent" class="spacer fw600" (click)="close()">
      {{language ? 'Войти' : 'Кіру'}}
    </button>
  </div>
</div>
