.wrapper {
  background: #0a78d6;
  box-shadow: rgb(0 0 0 / 50%) 0 0 5px;
  height: 75px;
}

.search {
  height: 40px;
  max-width: 600px;
}

.backdrop {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .6;
}

.search-text {
  width: 85%;

  &:focus {
    background-color: #ffedb6;
    border: none;
  }
}

.search-button {
  width: 15%;
  background-color: #febd01;
}

.profile {
  height: 77px;
}

.language {
  height: 77px;
}

.menu_btn {
  font-weight: 600;

  &:hover {
    background: var(--light_yellow);
  }
}
