.wrapper {
  background: #0a78d6;
  box-shadow: rgb(0 0 0 / 50%) 0 0 5px;
  height: 75px;
}

.search {
  height: 40px;
  max-width: 600px;
}

.search-text {
  width: 85%;

  &:focus {
    background-color: #ffedb6;
    border: none;
  }
}

.search-button {
  width: 15%;
  background-color: #febd01;
}

.profile {
  height: 77px;
}

.language {
  height: 77px;
}

.menu_btn {
  font-weight: 600;

  &:hover {
    background: var(--light_yellow);
  }
}
