<div class="wrapper width d-flex align-center">
  <div class="container d-flex align-center width">
    <div class="text-white fw600 pointer fz-8 pr-6 d-flex align-center">
      <div class="d-flex align-center pr-1">
        <img src="https://play-lh.googleusercontent.com/wbqcLeR1gDjooByaxujaEIzMto6dONYxC7VP_o5-04IZbwDm49oiY1gt4cq3nqicF7I" width="32px" height="32px" alt="">
      </div>
      <div>Aslan_Books</div>
    </div>
    <div class="search d-flex border-box width pr-6">
      <input type="text" class="search-text pl-4" placeholder="Более 100 книг">
      <input type="button" class="search-button pointer border-none fw600" value="Найти">
    </div>
    <div class="right-content pl-6 d-flex justify-between align-center spacer">
      <div
        class="location d-flex gap-2 align-center pointer"
        (click)="openCityChangeModal()"
      >
        <div class="icon">
          <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M20.5003 3.41675C13.8891 3.41675 8.54199 8.76383 8.54199 15.3751C8.54199 24.3438 20.5003 37.5834 20.5003 37.5834C20.5003 37.5834 32.4587 24.3438 32.4587 15.3751C32.4587 8.76383 27.1116 3.41675 20.5003 3.41675ZM20.5003 19.6459C18.1428 19.6459 16.2295 17.7326 16.2295 15.3751C16.2295 13.0176 18.1428 11.1042 20.5003 11.1042C22.8578 11.1042 24.7712 13.0176 24.7712 15.3751C24.7712 17.7326 22.8578 19.6459 20.5003 19.6459Z"
              fill="white"/>
          </svg>
        </div>
        <div class="text-white fz-4 fw600">{{city}}</div>
      </div>
      <div>
        <div
          class="language d-flex align-center"
          [matMenuTriggerFor]="langMenu"
        >
          <button
            mat-flat-button
            style="background: #0a78d6;color: #fff"
            class="s-flex align-center"
          >
            <mat-icon class="pr-2">translate</mat-icon>
            <span class="text-white">{{lang}}</span>
          </button>
        </div>
      </div>
      <div
        class="profile d-flex align-center gap-2 pointer"
        [matMenuTriggerFor]="menu"
      >
        <div>
          <img class="circle-border" src="https://cdn.f.kz/img/no_photo120.jpg" alt="img" width="40px" height="40px">
        </div>
        <div
          class="text-white"
        >
          {{userName || 'Войти'}}
        </div>
      </div>
      <div class="bucket d-flex gap-2 align-center pointer">
        <div class="d-flex align-center">
          <img src="https://cdn.f.kz/img/new_header_2015/cart_new.svg" width="40px" height="40px" alt="img">
        </div>
        <div class="text-white">
          <div>Корзина</div>
          <div>0 товара</div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button
    *ngIf="!userName"
    mat-menu-item
    class="menu_btn"
    (click)="signIn()"
  >
    <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon>
    Войти
  </button>
  <button
    mat-menu-item
    class="menu_btn"
    *ngIf="!userName"
    (click)="openSignUpModal()"
  >
    <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="how_to_reg"></mat-icon>
    Регистрация
  </button>
  <button
    mat-menu-item
    class="menu_btn"
    *ngIf="userName"
    (click)="logout()"
  >
    <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
    Выйти
  </button>
  <button
    mat-menu-item
    class="menu_btn"
    *ngIf="userName"
  >
    <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="auto_awesome_mosaic"></mat-icon>
    Мой раздел
  </button>
  <button
    mat-menu-item
    class="menu_btn"
    *ngIf="userName"
  >
    <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="list_alt"></mat-icon>
    Мои заказы
  </button>
  <button
    mat-menu-item
    class="menu_btn"
    *ngIf="userName"
  >
    <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
    Избранные
  </button>
  <button
    mat-menu-item
    class="menu_btn"
  >
    <mat-icon color="primary" aria-hidden="true" aria-label="Example home icon" fontIcon="contacts"></mat-icon>
    Контакты
  </button>
  <button
    mat-menu-item
    class="menu_btn"
    *ngIf="userName && userIsAdmin"
    (click)="openAddModal()"
  >
    <mat-icon color="primary" aria-hidden="true" aria-label="Example home icon" fontIcon="auto_stories"></mat-icon>
    Добавить книгу
  </button>
</mat-menu>

<mat-menu #langMenu="matMenu">
  <button
    mat-menu-item
    class="menu_btn"
    (click)="setLanguage(true);lang = 'Русский'"
  >
    Русский
  </button>
  <button
    mat-menu-item
    class="menu_btn"
    (click)="setLanguage(false);lang = 'Казакша'"
  >
    Казакша
  </button>
</mat-menu>
