<div class="wrapper pointer d-flex flex-col gap-1 text-align-center">
  <div class=" p-2">
    <img src="https://cdn.f.kz/prod/1262/1261843_550.jpg" alt="" width="166" class="content-center">
    <div class="title">Как разговаривать с кем угодно, когда угодно и где угодно</div>
    <div class="d-flex flex-col">
      <div class="description">мягкая обложка, 2022</div>
      <div class="description">Альпина Паблишер, Саморазвитие</div>
    </div>
    <div class="d-flex justify-between">
      <div class="price">2 590 ₸</div>
      <div>На складе</div>
    </div>
  </div>
  <div class="pr-2 pl-2">
    <button mat-button class="to-cart">В корзину</button>
  </div>
</div>
