<div class="wrapper p-4">
  <div class="mb-4">Войти</div>
  <form
    [formGroup]="form"
    class="d-flex flex-col gap-3"
  >
    <mat-form-field appearance="legacy" class="width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Введите email" formControlName="email" #email>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="width">
      <mat-label>Пароль</mat-label>
      <input matInput placeholder="Введите пароль" formControlName="password" #password>
    </mat-form-field>

    <app-spinner-button
      [value]="'Войти'"
      [loading]="loader.loading"
      [disabled]="form.invalid || !loader.loading"
      (onClick)="signIn()"
    >
    </app-spinner-button>
  </form>
</div>

<!--<div id="recaptcha-container"></div>-->
